@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

.header {
    height: 88px;
    display: flex;
    justify-content: center;
}

.header__content {
    display: flex;
    justify-content: space-between;
    width: 1244px;
    max-height: 56px;
}

.header__burger {
    margin-top: 32px;
}

.header__basket {
    width: 62px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #E4002B;
    border-radius: 20px;
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.header__basket-text {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

.header__rubl {
    display: flex;
    justify-content: center;
    align-items: center;
width: 24px;
height: 24px;
}

/* .delivery {

} */

.delivery__block {
    display: flex;
    justify-content: center;
}

.delivery__options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1244px;
    /* background: rgb(185, 185, 185); */
}

.title {
    font-family: 'Cabin Condensed', sans-serif;
    font-size: 64px;
    margin-right: 2px;
}

.subtitle {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 32px;
}

.subtitle_small {
    font-size: 16px;
}

.subtitle_medium {
    font-size: 24px;
}

.subtitle_price {
   color: #E4002B;
}

.button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-menu__content {
    display: flex;
    background: #F7F6F5;
    border-radius: 4px;
}

.button {
    width: 146px;
    height: 48px;
    border: none;
    border-radius: 4px;
    background-color: #F7F6F5;
    color: #9D9D9D;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.button_active {
    background-color: #E4002B;
    color: white;
}

.button:hover {
    background-color: #830c22;
    color: white;
}

.adress {
    display: flex;
    justify-content: center;
}

.adress__content {
    width: 1244px;
    display: flex;
}

.adress__pharam {
    display: flex;
    align-items: center;
}
.adress__input {
    margin-left: 12px;
    margin-right: 43px;
}

.input {
    width: 210px;
    height: 42px;
    background-color: #F7F6F5;
    outline: none;
    border: none;
    border-radius: 4px;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
    padding-left: 16px;
}

.category-menu {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: white;
}

.categody-menu__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 1244px;
}

.category-menu__item {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    color: #9D9D9D;
    cursor: pointer;
    margin-bottom: 0px;
    height: 50px;
    margin: 12px;
    margin-bottom: 0px;
}

.category-menu__item:hover {
    color: #830c22;
}

.category-menu__item_active {
    color: #E4002B;
     border-bottom: 2px solid #E4002B;
}

.category-menu__item_active:hover {
    color: #830c22;
     border-bottom: 2px solid #830c22;
}


.assortment {
    display:flex ;
    justify-content: center;
}


.assortment__content {
    width: 1244px;
    display: flex;
    flex-direction: column;
    background-color: #F7F6F5;
    /* padding-top: 20px; */
    /* margin-top: 30px; */
}

.assortment__block {
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.assortment__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    width: 288px;
    height: 360px;
    border-radius: 8px;
    background-color: #fafafa;
}

.assortment__item:hover {
    background-color: #ffffff;
   
}

.assortment__image {
    margin-top: 16px;
    /* background-size:cover; */
    background-size: contain;
    background-repeat: no-repeat;
    width: 216px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.assortment___bugrer-image {
    background-image: url('./source/burgerItem.jpg');
}

.assortment__hit-label {
    display: flex;
    justify-content: start;
}

.assortment__amount {
    display: flex;
    justify-content: end;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__box {
    width: 1244px;
}

.footer__flag-box {
    display: flex;
    justify-content: center;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    margin-top: 107px;
}

/* .footer__item {

} */

.footer__info {
    display: flex;
    justify-content:space-between;
    margin-top: 107px;
}

.footer__empty-fake {
    width: 217px;
    height: 40px;
    background-color: #ffffff;
}

/* .footer__social {

}

.footer__store {
    
} */

.count-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 80px;
   height: 40px;
   background-color: black;
   border-radius: 20px;
   padding-left: 12px;
   padding-right: 12px;
   margin-right: 56px;
}

.count-button__text {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
}


@media screen and (max-width: 870px) {
    .header {
        margin-left: 40px;
        margin-right: 40px;
    }
    .adress {
        margin-left: 40px;
        margin-right: 40px;
    }
    .category-menu {
        margin-left: 40px;
        margin-right: 40px;
    }
    .assortment {
        margin-left: 40px;
        margin-right: 40px;
    }
    .footer {
        margin-left: 40px;
        margin-right: 40px;
    }
    .delivery__options {
        justify-content: center;
    }
    .category-menu__item {
        height: 40px;
    }
}

@media screen and (max-width:678px) {
    .assortment__content {
        text-align: center;
    }
    .assortment__block {
        justify-content: center;
    }
    .footer__content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 588px) {
    .title {
        font-size: 28px;
    }
    .delivery__options {
        justify-content: center;
    }
    .assortment__content {
        text-align: center;
    }
    .assortment__block {
        justify-content: center;
    }
    .category-menu__item {
        height: 30px;
    }

    .footer__content {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
}
